html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  background-color: #588477;
  border-style: solid;
  border-color: #2d5a4d;
  border-width: thick;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
  background-image: url("../leafy-decorations-download/")
  background-repeat: no-repeat;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border-style: solid;
  border-radius: .5em;
  border-color: #2d5a4d;
  border-width: thick;
}

.nav a:hover {

}

.banner {
background-image: url("../leafy-decorations-download/assets/plant.jpg");
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
